{% extends "base.html" %}
{% block title %}<title> Технологии </title> {% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
  <h1>Вот что я умею, могу и практикую!</h1>
  {% comment %}
    Боковой блок со списком технологий 
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        Петь
      </li>
      <li class="list-group-item">
        Танцевать
      </li>
    </ul>
  </aside>
  {% comment %}
    Статья  
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}
  <article class="col-12 col-md-9">
    <p>Хотел бы сказать спасибо свои родителям и друзьям, за то что подерживают меня в это трудном деле. 
      Ну и конечно всей компанде ЯП, за помощь, наставление и поддержку. </p>
      <p>
      P.S. если бы у меня было больше времени, я бы обязательно сверстал что-то, но сроки горят....
      </p>
      <p>
      P.S.S Вообще надеюсь вёрстка не сильно прогодится бэкендеру...
    </p>
  </article>
</div>
{% endblock %}